@page "/"
@inject NavigationManager Nav
@code { protected override void OnInitialized() => Nav.NavigateTo("/events", replace: true); }



@*
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
*@

